@import 'tailwindcss';

@theme {
  --color-main: #137fec;
  --color-background: var(--background);
}

ng-icon svg {
  color: inherit;
  fill: currentColor;
}

.glass-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.text-main {
  color: var(--color-main);
}

:root {
  --background: #f6f7f8;
}

.dark {
  --background: #101922;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #101922;
  }
}
